<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="update-shop" method="post" th:object="${shop}">
        <input type="hidden" th:field="*{id}">
        Товар <input type="text" name="product" th:field="*{product}">
        <br>
        Стоимость <input type="number" name="price" th:field="*{price}">
        <br>
        Дата поступления <input type="date" name="receiptDate" th:field="*{receiptDate}">
        <br>
        Наличее на складе <input type="checkbox" name="stock" th:field="*{stock}">
        <br>
        <br>
        <button class="btn btn-success" type="submit">Отредактировать товар</button>
    </form>
</div>
</body>
</html>